html {
  background-color: #dc082d;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pokemon-list-item h2 {
  text-transform: capitalize;
  text-align: center;
}

.pokemon-list-item a {
  color: inherit;
  text-decoration: none;
}

.pokemon {
  text-align: center;
}

a.bk {
  color: white;
  text-decoration: none;
}
